@-webkit-keyframes searchScrollc {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes searchScrollr {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes milestoneShow {
  0% {
    opacity: 0;
    display: none;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    display: block;
    -webkit-transform: translateY(0);
  }
}
