* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  /*10 ÷ 16 × 100% = 62.5%*/
}
html,
body {
  height: 100%;
  background: #fff;
  overflow: hidden;
}
#app,
.top-div,
.second-div {
  height: 100%;
}
.top-div {
  >div {
    overflow: auto;
    height: 100%;
  }
}
html {
  @include screen_1200 {
    font-size: 16px;
  }
  @include screen_960_1199 {
    font-size: 16px;
  }
  @include screen_768_959 {
    font-size: 14px;
  }
  @include screen_480_767 {
    font-size: 14px;
  }
  @include screen_479 {
    font-size: 13px;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "\5FAE\8F6F\96C5\9ED1",Arial,Helvetica,sans-serif;
}
/*
1.去除android a/button/input标签被点击时产生的边框
2.去除ios a标签被点击时产生的半透明灰色背景
3.去除ios上长按链接会弹出提示框
4.用户只能选择元素内的文本
 */
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout:none;
   //-webkit-user-select:text;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
a img {
  border: none;
}
button {
  border: none;
  background: none;
}
li {
  list-style: none;
}
.addRelative {
  position: relative;
}
.removeRelative {
  position: static;
}
.tac {
  text-align: center;
}
.overflow-y {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.w_height {
  height: 100%;
}

.red{
  color: red;
}
.mb240{
  margin-bottom: 240px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.gray{
  color: #9C9898;
}
.pointer-events{
  pointer-events: none;
}

/**相关边距属性**/
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mtb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pl-15{
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.bg-white{
  background-color: $white;
}
.required{
  color: red;
  position: absolute;
  top: 50%;
  margin-top: -21px;
  margin-left: 5px;
  text-indent: 0;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-size: 40px 40px;
}
