@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1464342723_4155197.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464342723_4155197.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464342723_4155197.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1464342723_4155197.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464342723_4155197.svg#iconfont') format('svg'); /* iOS 4.1- */
}

div[class^="iconfont"] {
  cursor: pointer;
}
[class*=" iconfont-"]:before,[class*=" iconfont-"]::after,
[class^="iconfont"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 1.8rem;
}
.iconfont-clear{
  &:before{
    content: '\e62b';
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    right: 0;
    padding: 10px;
    color: #B5B5B5;
    cursor: pointer;
    z-index: 10;
  }
}
.iconfont-project-search {
  &:before {
    content: '\e615';
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 12px;
    color: #fff;
    cursor: pointer;
  }
}
.iconfont-open-search {
  &:before {
    content: '\E615';
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-search {
  &:before {
    content: '\e600';
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-dropdown {
  &:before {
    content: '\e617';
    @extend .icon-drop;
  }
}
.iconfont-dropup {
  &:before {
    content: '\e618';
    @extend .icon-drop;
  }
}
.iconfont-subadmin {
  &:before {
    content: '\e601';
    position: absolute;
    right: 0.5rem;
    color: #72C4FE;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-talk {
  &:before {
    content: '\e608';
    position: absolute;
    right: 0.5rem;
    color: #72C4FE;
    cursor: pointer;
    margin-right: 1rem;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-edit {
  &:before {
    content: '\e602';
    right: 0;
    color: #848484;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
    padding:0 0.5rem;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-active {
  &:before {
    content: '\e612';
    right: 0;
    color: #848484;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
    margin-right: 5px;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-more {
  &:before {
    content: '\e611';
    right: 0;
    color: #848484;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-save {
  &:before {
    content: '\e609';
    right: 0.5rem;
    color: #848484;
    height: 44px;
    cursor: pointer;
    line-height: 44px;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-del {
  &:before {
    content: '\e603';
    position: absolute;
    color: #FF6868;
    right: 0.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    z-index: 2;
    @include screen_1200 {
      line-height: 33px;
    }
    @include screen_960_1199 {
      line-height: 33px;
    }
    line-height: 44px;
  }
  &:active:before {
    font-weight: bold;
  }
}
.goalItemEdit {
  .iconfont-del {
    &:before {
      @include screen_1200 {
        line-height: 55px;
      }
      @include screen_960_1199 {
        line-height: 55px;
      }
    }
  }
}
.project-members .header-actions .iconfont-add {
  &:before {
    font-size: 25px;
  }
}
.project-members .member-card-item.opened .iconfont-edit {
  &:before {
    font-size: 25px;
  }
}
.usernamefather .member-actions .iconfont-del {
  &:before {
    font-size: 25px;
    line-height: 44px;
  }
}
.iconfont-add {
  &:before {
    content: '\e607';
    color: #848484;
    right: 1rem;
    cursor: pointer;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-move {
  padding: 0 0.5rem;
  &:before {
    content: '\e60a';
    color: #848484;
    right: 1rem;
    cursor: pointer;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-milestone {
  &:before {
    content: '\e601';
    position: absolute;
    right: 12px;
    color: #FEA52D;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-select {
  &:before {
    content: '\e616';
    color: #999;
    height: 26px;
    line-height: 26px;
  }
}

.iconfont-entry {
  &:after {
    content: '\e616';
    color: #3f81d2;
    height: 36px;
    line-height: 36px;
    font-size: 11px;
    font-weight: bold;
  }
}

.iconfont-back {
  &:before {
    content: '\e60e';
    color: #fff;
    font-size: 1.6rem;
  }
}
.iconfont-totop {
  &:before {
    content: '\e60f';
    color: #fff;
    font-size: 2.5rem;
  }
}
.iconfont-remove {
  cursor: pointer;
  &:before {
    content: '\E610';
    position: absolute;
    color: #FF6868;
    right: 10px;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
    top: 50%;
    z-index: 2;
    margin-top: -13px;
  }
}
.iconfont-checkbox {
  &:before {
    content: '\e614';
    position: absolute;
    right: 0.5rem;
    color: #000;
    left: 0;
    top: 0.5rem;
  }
}
.iconfont-trash {
  padding: 0 0.5rem;
  &:before {
    content: '\e613';
    color: #848484;
    right: 1rem;
    cursor: pointer;
  }
  &:active:before {
    font-weight: bold;
  }
}
.iconfont-left-arrow {
  &:before {
    content: '\e623';
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    top: 0;
    left: 10px;
  }
  &:active:before {
    color: #fdaa40;
  }
}
.iconfont-index {
  &:before {
    content: '\e61f';
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    right: 0;
  }
  &:active:before {
    color: #fdaa40;
  }
}
.iconfont-project {
  &:before {
    content: '\e622';
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    left: 14px;
    top: 0;
  }
}
.iconfont-project-static {
  &:before {
    content: '\e622';
    cursor: pointer;
    font-size: 20px;
    padding: 0 11px 0 6px;
    position: relative;
    bottom: -3px;
  }
}
.iconfont-wendang {
  &:before {
    content: '\e61d';
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    top: 50%;
    margin-top: -12px;
    left: -.2em;
  }
  &:active:before {
    color: inherit;
  }
}
.iconfont-wendang-static {
  &:before {
    content: '\e61d';
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
  }
  &:active:before {
    color: #fdaa40;
  }
}
.iconfont-taskAdd {
  &:before {
    content: '\e621';
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    top: 50%;
    margin-top: -12px;
    right: 120px;
    color: #ffa42d;
  }
  &:active:before {
    color: #fdaa40;
  }
}
.iconfont-date {
  &:before {
    content: '\e61c';
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    top: 50%;
    margin-top: -12px;
    color: #999;
    right: 15px;
  }
  &:active:before {
    color: #000;
  }
}
.iconfont-evaluation {
  &:before {
    content: '\e625';
    cursor: pointer;
    font-size: 110px;
    color: #dfdfdf;
  }
}
.iconfont-arrow-circle-down {
  &:before {
    content: '\E626';
    cursor: pointer;
    font-size: 30px;
    color: #999;
    position: absolute;
    left: -16px;
    background: #fff;
  }
}
.iconfont-arrow-circle-up {
  &:before {
    content: '\e627';
    cursor: pointer;
    font-size: 30px;
    color: #999;
    position: absolute;
    left: -16px;
    background: #fff;
  }
}
.iconfont-circle {
  &:before {
    content: '\e628';
    cursor: pointer;
    font-size: 21px;
    color: #86cd4d;
    position: absolute;
    left: 12px;
    top: 17px;
  }
}

.iconfont-mile-stone {
  &:before {
    content: '\e62d';
    font-size: 1.2rem;
    color: black;
    padding: 0 5px;
  }
}
.iconfont-roadmap {
  &:before {
    content: '\e62c';
    font-size: 1.2rem;
    color: black;
    padding: 0 5px;
  }
}
