.center {
  text-align: center;
}
.input-error {
   ::-webkit-input-placeholder {
    color: #f00;
  }
   :-ms-input-placeholder {
    color: #f00;
  }
}
.input-error input {
  color: red;
}
.cred {
  color: red;
}
/**==============================
 * 解决ios下disabled透明问题
 * http://stackoverflow.com/questions/262158/disabled-input-text-color
 * @type {[type]}
 */
input:disabled,
textarea:disabled {
  background: #fff;
  // -webkit-text-fill-color: $contentFontColor;
  -webkit-opacity: 1;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #A9A9A9;
}
textarea {
  width: 100%;
  border-color: $borderColor;
}
//===============================
.input-label {
  border: none;
  color: #BCBCBC;
}
.titleEm {
  position: absolute;
  border: 5px solid $orange;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
  &.blue {
    border-color: $blue;
  }
  &.green {
    border-color: $green;
  }
}
.absolute {
  position: absolute;
}
 ::-ms-clear {
  display: none;
}
/**
 * 页面内嵌confirm
 */
.page-confirm {
  background-color: #fff;
  position: relative;
  .page-confirm-mark{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 54px;
    cursor: pointer;
  }
  .confirm-title {
    padding: 10px 15px 6px;
    @extend %clearfix;
    .title-label{
      color: #666;
      font-size: 16px;
    }
    .warn-font {
      color: red;
    }
  }
  .confirm-content{
    textarea{
    padding-top: 5px;
    padding-left: 5px;
    color: #999;
    background-color: #ececec;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    &.writed{
      color: #333;
    }
    }
  }
  .confirm-footer {
    display: table;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  .confirm-center {
    display: table-cell;
    .mr0 {
      margin-right: 0;
    }
  }
  .input-tip {
    color: #666;
    font-size: 12px;
  }
}
/**
 * 按钮样式
 */
.btn-primary {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 20px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**
 * 文字居中对齐
 */
.text-align-middle {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: red;
}
/** ==============================================================================================================================================================
 * 滚动加载状态  'data-loading':'正在加载数据…','data-none':'未找到相关数据','data-short':'没有数据可以显示了','data-failed':'数据加载失败了','data-fresh':'点击重新刷新'
 */
.data-status {
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  display: block;
  color: $tipColor;
  .msg {
    display: none;
  }
}
.data-more {
  display: block;
  .msg:nth-child(1) {
    display: block;
  }
}
.data-loading {
  display: block;
  .msg:nth-child(2) {
    display: block;
  }
}
.data-none {
  display: block;
  .msg:nth-child(3) {
    display: block;
  }
  .msg-image {
    @include anmi-em(300, 300, "search_no_result.png", 0, 0);
    @include position-point(false, false, false, 50%);
    @include margin-point(30px, false, false, -75px);
    position: absolute;
  }
  .msg-label {
    margin-top: 140px;
  }
}
.data-short {
  display: block;
  .msg:nth-child(4) {
    display: block;
  }
}
.data-failed {
  display: block;
  .msg:nth-child(5) {
    display: block;
  }
}
.data-fresh {
  display: block;
  .msg:nth-child(6) {
    display: block;
  }
}
.txt-center {
  text-align: center;
  padding-top: 20px;
}
/** ==============================================================================================================================================================
 * end
 */
/**
 * 滚动条 -webkit-overflow-scrolling虽然会使滚动在ios下顺畅，不过屏幕会闪屏，最好还是别用
 */
.scroll-css {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  //  -webkit-overflow-scrolling:touch;
}
/**
 * 滚动加载图片
 */
.js-scroll{
  overflow-y: auto;
  overflow-x: hidden;
}
.js-scroll-load {
  background: url(../../img/loading2.gif) no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-show {
  background-repeat: no-repeat;
  background-size: cover;
}
.img-err {
  background: url(../../img/user_default.jpg) no-repeat;
  background-size: cover;
}
//自定义的弹框内容样式
.custom-confirm-cls {
  .dialog-confirm-message {
    text-align: center;
  }
}
/**
 * 文字换行
 */
.break-word {
  @extend %break-word;
}
/**
 * 滚动搜索 仿微信
 */
.scroll-search-bar {
  background-color: #f4f4f4;
  .search-content {
    display: table;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .icon-area{
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
  }
  .search-center {
    position: relative;
    -webkit-animation: searchScrollc .5s ease-out;
    animation: searchScrollc .5s ease-out;
    .icon-search {
      @include anmi-em(28, 27, "icon_search.png", 0, 0);
      @include position-point(50%, false, false, 50%);
      @include margin-point(-6px, false, false, -35px);
    }
    .search-label {
      width: 100%;
      height: 30px;
      font-size: 14px;
      color: #A9A9A9;
      border: none;
      border-radius: 50px;
      text-align: center;
    }
    input::-webkit-input-placeholder{
      text-align: center;
    }
  }
  .search-right {
    display: table-cell;
    width:80%;
    position: relative;
    -webkit-animation: searchScrollr .5s ease-out;
    animation: searchScrollr .5s ease-out;
    .icon-search {
      @include anmi-em(28, 27, "icon_search.png", 0, 0);
      @include position-point(50%, false, false, 10px);
      @include margin-point(-6px, false, false, false);
    }
    .search-label {
      width: 80%;
      float: left;
      font-size: 14px;
      height: 30px;
      padding-left: 30px;
      border: none;
      border-radius: 50px;
      box-sizing: border-box;
    }
  }
  .search-cancel{
    font-size: 14px;
    float: right;
    width: 20%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    cursor: pointer;
  }
}
/**
 * 字数统计textarea
 */
.widget-textarea{
  .versionDes{
    margin-right: 10px;
  }
 textarea{
   padding: 5px;
   color: #999;
   background-color: #ececec;
   border: 0;
   border-radius: 5px;
   box-sizing: border-box;
   line-height: 20px;
   font-size: 15px;
   &.writed{
     color: #333;
   }
  }
}
.widget-select{
  .select-label{
    margin-left: 96px;
    font-size: 15px;
    @include ellipsis(80%);
  }
  .no-result{
    .search-image{
      @include anmi-em(240, 240, "not-found.png", 0, 0);
      @include position-point(30%, false, false, 50%);
      @include margin-point(-60px, false, false, -60px);
    }
    .txt-center{
      padding-top: 60%;
      color: #666;
    }
  }
  .scroll-image{
    width: 40px;
    height: 40px;
    overflow: hidden;
    left: 36px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    box-sizing: border-box;
    .s-image{
      height: inherit;
      width: inherit;
      border-radius: 50%;
    }
  }
  .select-search{
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
  }
}
