/*_confirm.scss*/

.confirm-div {
	.confirm-body {
    border: none;
    z-index: 9999;
    width: 100%;
    position: fixed;
    margin: auto;
		left: 0;
		height: 10%;
		top: 45%;
    .dialog-confirm-content {
	    background: #fff;
	    border: solid 1px #fff;
	    border-radius: 4px;
	    width: 320px;
	    margin: 0 auto;
	    .dialog-confirm-foot{
	    	border-top: 1px solid #CCCCCC;
	    	.dialog-confirm-action button{
					border-top: 0;
	    	}
	    	.dialog-confirm-submit-box button {
	    		border-right: 1px solid #CCCCCC;
	    	}
		    .dialog-confirm-cancel-action button{
		    	color: #0090FF;
			    font-size: 16px;
			    width: 50%;
			//    font-weight: bold;
			    padding: 10px;
					letter-spacing: 3px;
		    }
	    }
		}
	}
}
