
.dialog-mark {
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.project-members .member-container .dialog-confirm {
  border: none;
  z-index: 1000;
  position: fixed;
  margin: auto;
  @include screen_479 {
    width: 100%;
    left: 0;
    bottom: 0;
  }
  @include screen_480_767() {
    width: 70%;
    bottom: 50%;
  }
  @include screen_768_959() {
    width: 60%;
    bottom: 50%;
  }
  @include screen_960_1199() {
    width: 50%;
    bottom: 50%;
  }
  @include screen_1200() {
    width: 44%;
    bottom: 50%;
  }
}
.page.page-addmember .userItemFather .dialog-confirm {
  .dialog-confirm-title {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
  }
  .title{
    margin-left: 25px;
  }
  .dialog-confirm-main {
    overflow: hidden;
    background-color: rgba(18, 199, 255, 0.08);
    .dialog-confirm-message {
      padding: initial;
      .dialog-ul li {
        border-bottom: 1px solid #DBDBDB;
        @include screen_479 {
          margin-top: 3px;
        }
      }
    }
  }
  .dialog-confirm-footer .dialog-confirm-footer-title {
    border-top: 1px solid #F0F0F0;
    .addrole-addmember {
      background-color: #FBB624;
      color: #fff;
      padding: 0.7rem 9rem;
      font-size: 1rem;
      margin-right: 0.5rem;
      border-radius: 0.3rem;
    }
  }
  border: none;
  z-index: 1000;
  position: fixed;
  margin: auto;
  @include screen_479 {
    width: 100%;
    left: 0;
    bottom: 0;
  }
  @include screen_480_767() {
    width: 70%;
    bottom: 15%;
  }
  @include screen_768_959() {
    width: 60%;
    bottom: 15%;
  }
  @include screen_960_1199() {
    width: 50%;
    bottom: 15%;
  }
  @include screen_1200() {
    width: 44%;
    bottom: 15%;
  }
}
.dialog-confirm {
  border: none;
  z-index: 4;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.p-static {
  top: 10px;
}
.p-fixed {
  position: fixed;
}
.dialog-confirm:focus {
  outline: none;
}
.dialog-confirm-content {
  background: #fff;
}
 :root .dialog-confirm {
  FILTER: none \9;
}
.dialog-confirm-close {
  color: #999;
  cursor: pointer;
  display: block;
  font-family: tahoma;
  position: absolute;
  right: 25px;
  text-decoration: none;
  top: 10px;
  z-index: 5;
}
.dialog-confirm-close:hover {
  color: #666;
  text-shadow: 0 0 2px #aaa;
}
.dialog-confirm-title {
  background: #F0F0F0;
  text-align: left;
  padding: 10px;
  line-height: 2rem;
  color: #000;
}
.dialog-confirm-message {
  line-height: 2rem;
}
.dialog-confirm-foot {
  text-align: center;
}
.dialog-ul li {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  line-height: 2.6rem;
  height: 3rem;
  border-bottom: 1px solid #F0F0F0;
  &:last-child {
    border-bottom: 0;
  }
}
.dialog-confirm-txt {
  font-weight: bold;
  color: #FDC86C;
  padding: 5px;
}
.dialog-confirm-foot {
  overflow: hidden;
}
.dialog-confirm-foot .dialog-confirm-action button {
  color: #0090FF;
  width: 50%;
  float: left;
  line-height: 40px;
  letter-spacing:3px;
}
.dialog-confirm-foot .dialog-confirm-confirm-box button {
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
.dialog-confirm-foot .dialog-confirm-cancel-box button {
  border-top: 1px solid #CCCCCC;
}
.dialog-confirm-footer .dialog-confirm-footer-title {
  border-top: 5px solid #F0F0F0;
  //font-size: 1.8rem;
  text-align: center;
  padding: 10px;
  color: #000;
  line-height: 2rem;
  cursor: pointer;
}
