.error-bg {
  background-color: #ffd9d9!important;
}
.error-container {
  @extend .error-bg;

  input,
  input::-webkit-input-placeholder{
    @extend .error-bg;
  }
}
.error-text {
  margin-left: -10px;
  text-indent: 10px;
}
