/*_search-box.scss*/

.search-bar {
  margin: 10px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  overflow: hidden;
  padding: 3px;
  background-color: #FFF;
  a {
    height: 44px;
    line-height: 44px;
    background-color: #FFF;
    position: absolute;
    color: #ECECEC;
    padding: 0 0.5rem;
    left: 1.6rem;
    border-right: solid 1px #ECECEC;
  }
  .search-input,.search-submit {
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    border: 0;
    line-height: normal;
  }
  .search-input {
    float: left;
    width: 80%;
    padding-left: 6rem;
    @include screen_479 {
      padding-left: 4.5rem;
      font-size: 13px;
    }
    margin-left: 0;
    border-radius: 0;
    border: none;
    padding:14px 0 14px 6rem ;
  }
  .search-submit {
    float: right;
    width: 20%;
    text-align: center;
    height: 44px;
    line-height: 44px;
  }
}

.search-task {
  .search-input{
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    border: 0;
    line-height: normal;
  }
}

@media screen and (min-width: 1200px) {
  #project-list .search-bar {
    margin: 24px 0 24px 0;
    .search-input {
      width: 90%;
    }
    .search-submit {
      width: 10%;
    }
    .search-spinner {
      width: 10%;
    }
  }
}

@media screen and (min-width: 940px) and (max-width: 1199px) {
  #project-list .search-bar {
    margin: 24px 0 24px 0;
    .search-input {
      width: 90%;
    }
    .search-submit {
      width: 10%;
    }
    .search-spinner {
      width: 10%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 939px) {
  #project-list .search-bar {
    margin: 12px 2% 12px;
    .search-input {
      width: 90%;
    }
    .search-submit {
      width: 10%;
    }
    .search-spinner {
      width: 10%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .panel {
    margin: 12px;
  }
}
