/**
 * @desc: 项目周报、里程碑审核
 */

.no-permission{
  position: absolute;
  height: 20px;
  width: 250px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: red
}
.project-weekly-report{
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  .report-detail{
    background: #fff;
    padding: 0 15px;
    overflow: auto;
    height: 90%;
  }
  ul{
    width: 100%;
    color: #333333;
    li{
      position: relative;
      border-bottom: 1px solid #ececec;
      @extend %clearfix;
      > div:nth-child(1) {
        padding: 15px 0 10px 5px;
      }
      > div:nth-child(2) {
        width: 70%;
        padding: 15px 0 10px 5px;
        @extend %break-word;
        &.mb5{
          color: #333;
          width: auto;
          font-size: 12px;
        }
        &.miles{
          border-left: 1px solid #ececec;
          padding: 0;
          .mile{
            border-bottom: 1px solid #ececec;
            padding: 10px 0 10px 5px;
            &:last-child{
              border-bottom: 0;
            }
          }
          .fr-ml5{
            margin-left: 0;
          }
        }
        &.week-report-des{
          width: 100%;
          padding: 0;
        }
      }

      .control-label {
        position: absolute;
        text-align: right;
        line-height: 38px;
        height: 38px;
        color: #666;

        .required {
          margin-top: -16px;
        }
      }

      .control-input {
        width: 100%;
        display: table;
        padding: 10px;
        padding-left: 90px;
        box-sizing: border-box;
        cursor: pointer;
        margin-bottom: -5px;
      }


      .report-status{
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin-right: 9px;
        margin-left: 5px;
        &.normal{
          color: #86cd4d;
          .icon_check{
            @include anmi-em(32, 32, "normal-flag.png", 0, 0);
            @include position-point(false, false, false, 50%);
            @include margin-point(7px, false, false, -30px);
          }
        }
        &.warn{
          color: #e5b600;
          .icon_check{
            @include anmi-em(32, 32, "warn-flag.png", 0, 0);
            @include position-point(false, false, false, 50%);
            @include margin-point(7px, false, false, -30px);
          }
        }
        &.error{
          color: #ff5046;
          .icon_check{
            @include anmi-em(32, 32, "error-flag.png", 0, 0);
            @include position-point(false, false, false, 50%);
            @include margin-point(7px, false, false, -30px);
          }
        }
        .check{
          @include anmi-em(38, 38, "icon_check.png", 0, 0);
          @include position-point(false, false, false, 50%);
          @include margin-point(6px, false, false, -30px);
        }
        .checked{
          @include anmi-em(38, 38, "icon_checked.png", 0, 0);
          @include position-point(false, false, false, 50%);
          @include margin-point(6px, false, false, -30px);
        }
      }
      .status-label{
        margin-left: 20px;
        padding: 5px;
      }
      a{
        color: grey;
        pointer-events: none;
      }
      .score-label{
        display:inline-block;
        width: 7em;
        &.display{
          width: 12em;
        }
      }
      .score-input{
        border:none;
        border-bottom: 1px solid #ececec;
        color:black;
        width: 98%;
        box-sizing: border-box;
        height: 20px;
        padding-left: 5px;
      }
      .iconfont-milestone::before{
        top: 0;
        color: black;
      }
      .fr-ml5{
        margin-left: 5px;
      }
    }
    .project-status{
      line-height: 30px;
    }
    .project-score{
      border-bottom: 0;

      .required {
        margin-top: -5px;
      }
    }
    .S{color: #FE8B2B}
    .A{color: #FEDE5E}
    .B{color: #85CD4C}
    .C{color: #E77246}
    .D{color: #FF5642}
    .project-score-instruction{
      color:grey;
      border-bottom: 0;
        .score-header,.project-instruction-detail{
          padding:15px 0 10px 5px;
        }
        .score-header{
          float:left;
        }
        .project-instruction-detail{
          width: 70%;
        }
    }

    .border-bottom0{
      border-bottom: 0;
    }
    .padding0{
      padding-left: 5px;
    }
    .comment{
      padding-top: 10px;
      padding-left: 5px;
      color: #999;
      background-color: #F5F5F5;
      border: 0;
      border-radius: 5px;
    }
    .info{
      background: #f9f9f9;
      height: 150px;
      border-radius: 5px;
    }
  }
  .btn-query{
    display: block;
    color: #fff;
    background-color: #FFA52D;
    border-radius: 20px;
  }
}

.milestone-review{
  .btn-cancel{
    border: 1px solid #c4c4c4;
    color: #666;
    width:35%;
    height:34px;
    line-height:34px;
    border-radius: 34px;
    margin:.2em .3em .2em .3em;
    &:active{
      background-color: #FFA42D;
      color: #fff;
      border: 0;
    }
  }
  .btn-sure{
    border: 1px solid #FEB351;
    color: #FEB351;
    width:35%;
    height:34px;
    line-height:34px;
    border-radius: 34px;
    margin:.2em .3em .2em .3em;
    &:active{
      background-color: #FFA42D;
      color: #fff;
      border: 0;
    }
  }
}
