.loginForm {
  text-align: center;
  font-family: '\9ED1\4F53';
  background-image: url('../../img/bg_login.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.loginForm .loginTitle {
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  padding-top: 5rem;
}

.loginForm ul {
  padding: 2rem;
}

.loginForm li {
  height: 7rem;
  line-height: 7rem;
}

.loginForm input {
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  font-size: 2rem;
}

.loginForm button {
  width: 100%;
  background-color: #60b8dc;
  color: white;
  height: 5rem;
  line-height:5rem;
  font-size: 2rem;
  font-family: '黑体';
}

.loginForm .login-msg {
  color: #DC1A1A;
  font-size: 1.6rem;
  text-shadow: 0px 0px 10px white;
}
