@charset "UTF-8";

/*transform:translate3d*/


/* page transition start*/

.page-enter {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.page-enter.page-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform .2s linear;
}

.page-leave {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page-leave.page-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s linear;
}


/* page transition end*/

@-webkit-keyframes slideInDown {
  from,
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  10%,
  90% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from,
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  10%,
  90% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  height: 26px;
  width: 26px;
  -webkit-animation: rotate 0.8s infinite linear;
  animation: rotate 0.8s infinite linear;
  border: 2px solid orange;
  border-right-color: transparent;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.search-spinner {
  display: inline-block;
  width: 20%;
  padding-top: 5px;
  text-align: center;
}

.search-spinner .spinner {
  width: 20px;
  height: 20px;
}

.project-prop {
  padding-top: 10px;
}

.hidden {
  display: none;
}

.load-more-spinner {
  margin: 12px auto;
  text-align: center;
}

.top-btn {
  position: fixed;
  bottom: 4rem;
  right: 12px;
  z-index: 2;
  cursor: pointer;
  @include anmi-em(90, 90, "icon_top.png", 0, 0);
}

.history-link {
  float: right;
  margin-right: 10px;
}

.history-link a {
  color: #6e6e6e;
  text-decoration: none;
  font-size: 1.5rem;
}

.history-chart-container {
  position: relative;
  background-color: #60b8dc;
  box-shadow: 0 2px 3px #B3B1B1;
  padding: 10px 20px;
  padding-left: 2.5rem;
}

.history-button {
  background-color: rgba(58, 66, 79, 0.7);
  position: absolute;
  border-radius: 0.4rem;
  @include screen_479 {
    width: 2rem;
    padding: 5px;
    bottom: 8.6rem;
  }
  @include screen_480_767() {
    width: 2.1rem;
    padding: 4px;
    bottom: 8rem;
  }
  @include screen_768_959() {
    width: 2.1rem;
    padding: 5.3px;
    bottom: 8.5em;
  }
  @include screen_960_1199() {
    width: 2rem;
    padding: 6px;
    bottom: 7rem;
  }
  @include screen_1200() {
    width: 2.1rem;
    padding: 6px;
    bottom: 7rem;
  }
}

.history-button.prev {
  @include screen_479 {
    left: 0.2rem;
  }
  @include screen_480_767() {
    left: 0.2rem;
  }
  @include screen_768_959() {
    left: 0.2rem;
  }
  @include screen_960_1199() {
    left: 0.2rem;
  }
  @include screen_1200() {
    left: 0.2rem;
  }
}

.history-button.prev span {
  display: inline-block;
  width: 0;
  height: 0;
  @include screen_479 {
    border: 8px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-left: 0px;
  }
  @include screen_480_767() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-left: 0px;
  }
  @include screen_768_959() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-left: 0px;
  }
  @include screen_960_1199() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-left: 0px;
  }
  @include screen_1200() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-left: 0px;
  }
}

.history-button.next {
  @include screen_479 {
    right: 0.6rem;
  }
  @include screen_480_767() {
    right: 0.2rem;
  }
  @include screen_768_959() {
    right: 0.2rem;
  }
  @include screen_960_1199() {
    right: 0.2rem;
  }
  @include screen_1200() {
    right: 0.1rem;
  }
}

.history-button.next span {
  display: inline-block;
  width: 0;
  height: 0;
  @include screen_479 {
    border: 8px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-right: 0px;
  }
  @include screen_480_767() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-right: 0px;
  }
  @include screen_768_959() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-right: 0px;
  }
  @include screen_960_1199() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-right: 0px;
  }
  @include screen_1200() {
    border: 9px solid #FFFFFF;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color: rgba(58, 66, 79, 0);
    border-right: 0px;
  }
}

.chart-title {
  position: absolute;
  left: -20px;
  bottom: 14%;
  text-align: center;
  color: #fff;
  //font-size: 1.2rem;
  font-weight: bold;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.chart-time-range {
  text-align: center;
  color: white;
  padding-top: 5px;
}

.project-page {
  color: $contentFontColor;
  font-family: '黑体';
}

.vision-arrow {
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background-color: transparent;
  border-width: 0px;
}

.vision-arrow-bottom-in {
  position: absolute;
  border: 8px solid #666;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  right: 5px;
}

.vision-arrow-bottom-out {
  position: absolute;
  border: 8px solid #fff;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -3px;
  right: 5px;
}

.vision-arrow-top-in {
  position: absolute;
  border: 8px solid #666;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 2px;
  right: 5px;
}

.vision-arrow-top-out {
  position: absolute;
  border: 8px solid #fff;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 0;
  right: 5px;
}

.header-bar {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #ebebeb;

  .titleEm{
    margin-top: 17px;
  }
}

.project-members .members-page .header-bar {
  background-color: rgba(18, 199, 255, 0.08);
  height: 42px;
  border-bottom: 1px solid #DBDBDB;
  span{
  font-size: 18px;
  }
}

.header-bar .title {
  display: inline-block;
  padding-left: 15px;
  font-size: 16px;
  color: #333;
  a {
    color: $blue;
    &:hover {
      color: red;
    }
  }
}

div.header-actions {
  float: right;
}

.vision-text {
  padding: 1rem;
  font-size: 14px;
  display: inline-block;
  white-space: pre-wrap;
  height: 3rem;
  line-height: 1.4rem;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  transition: height 200ms linear;
  -moz-transition: height 200ms linear;
  /* Firefox 4 */
  -webkit-transition: height 200ms linear;
  /* Safari 和 Chrome */
  -o-transition: height 200ms linear;
  /* Opera */


}

.vision-edit,
.goalSummary-edit {
  resize: none;
  border-color: #fff;
  padding: 1rem;
  font-size: 16px;
  font-family: "黑体";
  line-height: 1.4rem;
  @include screen_479 {
    font-size: 13px;
  }
  @extend %break-word;
}

.goal-text {
  padding: 10px;
}

.goal-table table {
  width: 100%;
  border-collapse: collapse;
}

.goal-table table td {
  text-align: center;
  padding: 15px 5px;
  border: 1px solid #dcdcdc;
}

.goalSummary-edit {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-bar {
  background-color: #f8f8f8;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.project-header-actions a {
  color: white;
  text-decoration: none;
}

.member-cost-summary {
  text-align: center;
  color: #fff;
}

.member-cost-summary-total-label {
  color: rgba(255, 255, 255, 0.65);
}

.member-cost-summary-total {
  //font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.member-cost-body {
  background-color: #60b8dc;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}

.member-cost-chart-example {
  color: #FFF;
  text-align: center;
  margin-top: 20px;
}

.member-cost-chart-example .graph {
  width: 30px;
  height: 3px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.member-cost-chart-example-total {
  margin-left: 20px;
}

.member-cost-chart-example-total .graph {
  background-color: #fff;
}

.member-cost-chart-example-in {
  margin-left: 20px;
}

.member-cost-chart-example-in .graph {
  background-color: #3f8302;
}

.member-cost-chart-example-out {
  margin-left: 20px;
}

.member-cost-chart-example-out .graph {
  background-color: #eb6c06;
}

.member-flow-title em {
  font-size: 20px;
  color: #ffb330;
  margin-right: 5px;
}

.member-flow .line {
  background-color: #cfcfcf;
  width: 2px;
  height: 100%;
  min-height: 3rem;
  margin-top: 13px;
  padding-top: 13px;
  margin-left: 6px;
  display: inline-block;
}

.member-flow{
  border-spacing: 0px;
  .dot {
    background-image: url("../../img/dot_gray.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 20px;
    font-size: 22px;
    height: 22px;
    position: absolute;
    color: #9f9f9f;
  }
}



.member-flow .dotline {
  vertical-align: top;
  position: relative;
}

.member-flow .content {
  display: block;
  color: #9f9f9f;
  line-height: 1.5rem;
  padding-left: 5px;
}

.member-flow td {
  padding-left: 10px;
}

.member-flow .month {
  color: #333;
  width: 60px;
  padding-left: 6px;
  line-height: 1.5rem;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}

.project-panel {
  cursor: pointer;
}

.project-header-actions{
  .panel-links{
    top:25px;
    right:20px;
  }
}

.goal-container {
  min-height: 20px;
  padding: 10px;
}

.history-chart-header {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.history-chart-header .title {
  font-weight: bold;
  text-align: left;
}

.history-chart-header .label td {
  padding-top: 20px;
  padding-bottom: 8px;
  color: rgba(255, 255, 255, 0.65);
}

.history-chart-header .value td {
  padding-bottom: 20px;
  font-weight: bold;
}

.history-chart-header .detailTable {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px 10px 20px;
  border-spacing: 0px;
}

.history-chart-header .detailTable tr {
  padding: 10px;
}

.history-chart-header .detailTable .label {
  color: rgba(255, 255, 255, 0.65);
}

.history-chart-header .detailTable .normal {
  padding: 10px;
}

.history-chart-header .detailTable .left-line {
  background-color: rgba(255, 255, 255, 0.1);
  width: 1px;
  margin-top: 10px;
}

.history-chart-header .detailTable .value .left-line {
  padding-bottom: 10px;
}

.goalSummary-text {
  padding: 1rem;
  font-size: 14px;
  line-height: 1.2;
  @extend %break-word;
}

.goalSubTitle {
  text-indent: 1rem;
  color: #333;
}

.goalGroupTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.goalGroupTable tbody {
  display: table;
  width: 100%;
}

.goalGroupTable tr {
  height: 3.5rem;
}

.goalGroupTable th,
.goalGroupTable td {
  border: 0.1rem solid #ccc;
  display: table-cell;
  text-align: center;
}

.goalGroupTable td.title {
  text-align: left;
  font-weight: bold;
}


.goalItemEdit {
  border: 0.1rem solid #dcdcdc;
  margin-bottom: 1rem;
  border-bottom: 0;
  position: relative;
}

.goalItemEdit li {
  line-height: 4rem;
  padding-left: 10rem;
  position: relative;
  border-bottom: 0.1rem solid #dcdcdc;
}

.goalItemEdit li span {
  position: absolute;
  left: 1rem;
}

.goalItemEdit li select,
.goalItemEdit li input {
  height: 2rem;
  line-height: 2rem;
  font-size: 14px;
  padding: 0.5rem;
  width: 95%;
  border: 0;
}

.goalItemEdit li select {
  height: 3.3rem;
  line-height: 3.3rem;
  width: auto;
}

.goalItemEdit .err-msg {
  position: absolute;
  right: 2rem;
  color: red;
  left: inherit;
  top: 0rem;
}

.edit-button {
    color: #666666;
    width: 4.5rem;
    text-align: center;
    margin: .7rem .7rem;
    border: 1px solid #999999;
    border-radius: 20px;
    line-height: 1.5rem;
    cursor: pointer;
    &:active {
      color: #FFFFFF;
      border: none;
      background:#FFA42D;
    }
}

.report-more {
  display: inline-block;
}
.report-list {
  li {
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;

    div:first-child {
      float: left;
      font-size: 14px;
      width: 86%;

      span {
        float: left;
      }
      .report-name {
        max-width: 26%;
        padding-left: 22px;
        position: relative;
        @include ellipsis();
      }
    }
    .iconfont-wendang {
      &:before {
        font-size: 16px;
        margin-top: -21px;
        left: 0;
      }
    }
    div:last-child {
      float: right;
      width: 13.8%;
      text-align: center;
    }
    .unreport {
      color: #ff5046;
    }
    .unread {
      color: #f0c310;
    }
    .readed {
      color: #a9c690;
    }
  }
}

.evaluate-wrap {
  .main {
    margin: 56px 0 0;
    text-align: center;

    .iconfont-wendang {
      font-size: 16px;
      margin-bottom: 24px;
      color: #444;

      &:before {
        position: static;
        font-size: 20px;
        top: 0;
        margin-top: 0;
        left: 0;
        margin-right: 3px;
      }
      &:active:before{
        color: #fdaa40;
      }
    }
    .loading {
      margin-top: 15px;
      color: #656565;
    }
  }
}

.histories{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
