.roadmap {
  background-color: #F4F4F4;
  height: 100%;
  .roadmap-card{
    border-top: 11px solid #F4F4F4;
    background-color: #fff;
    padding-left: 12px;
    font-size: 13px;
    .title{
      @extend %clearfix;
      border-bottom: 1px solid #F4F4F4;
      padding: 12px 12px 12px 0;
      font-weight: bold;
    }
    .title-l{
      float: left;
    }
    .title-r{
      float: right;
      &.orange{
        color: #ffa42d;
      }
      &.green{
        color: #86cd4d;
      }
    }
    .content{
      padding: 12px 12px 12px 0;
      p{
        @extend %break-word;
      }
    }
  }
  .no-current-roadmap{
    position: relative;
    height: 100px;
    margin-top: 11px;
    background-color: #fff;
    .roadmap-image{
      @include anmi-em(154, 154, "alert.png", 0, 0);
      @include position-point(50%, false, false, 20px);
      @include margin-point(-38px, false, false, false);
    }
    .roadmap-desc{
      margin-left: 110px;
      padding-top: 20px;
      margin-right: 10px;
      .t-title{
        font-size: 16px;
        color: #333;
      }
      .t-tip{
        font-size: 12px;
        color: #999;
        margin-top: 5px;
      }
    }
  }
}
