.stat{
  background: $white;
  color:#333;
  .update-time{
    line-height: 15px;
    height: 15px;
    margin: 0px 0px;
    padding-bottom: 10px;
    padding-left: 15px;
    color: #666;
    width: 70%;
    text-align: left;
  }
}
.stat-card{
  width: 100%;
  display: table;
  cursor: pointer;
  &:nth-child(odd){
    background-color: #f8f8f8;
  }
  &:hover,&:active{
      background-color: #e7e7e7;
  }
  .S{color: #fe8b2b;}
  .A{color: #fede5e;}
  .B{color: #85cd4c;}
  .C{color: #e77246;}
  .D{color: #fe5642;}
  .NAN{color:#c5c5c5;}
}

.stat-header{
  .stat-card{
    background-color: #ffedd5;
    color: #666666;
  }
}

.list-result{
  padding-top: 35%;
  .no-data-img{
    width:  150px;
    height: 150px;
    background: url($imageUrl + 'not-found.png') no-repeat center 0;
    background-size:100%;
    margin: 0 auto 0;
  }
  .data-loading{
    width:  150px;
    height: 150px;
    background: url($imageUrl + 'doc-loading.gif') no-repeat center 0;
    background-size:100%;
    margin: 0 auto 0;
  }
  .label{
    text-align: center;
    margin:1em auto;
    color:#666;
  }
}



.column{
  border-right: 1px solid $white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  &:last-child{
    border-right:0px;
  }
}
.column-2{
  @extend .column;
  &:nth-child(2n+1){
    width: 49%;
  }
  &:nth-child(2n+0){
    width: 50%;
  }
}
.column-3{
  @extend .column;
  &:nth-child(3n+1){
    width: 20%;
  }
  &:nth-child(3n+2){
    width: 39%;
  }
  &:nth-child(3n+0){
    width: 40%;
  }
  &.pre-line{
    white-space: pre-line;
  }
}
.column-4{
  @extend .column;
  &:nth-child(4n+1){
    width: 20%;
  }
  &:nth-child(4n+2){
    width: 39%;
  }
  &:nth-child(4n+3){
    width: 20%;
  }
  &:nth-child(4n+0){
    width: 20%;
  }
}
.row{
  width: 100%;
  display: table;
  vertical-align: middle;
  border-bottom: 1px solid $white;
  &:last-child{
    border-bottom: 0px;
  }
}

.text-middle-30{
  height: 30px;
}
.text-middle-45{
  height: 45px;
}
.text-middle-50{
  line-height: 50px;
  height: 50px;
}
.text-middle-55{
  height: 55px;
}
.text-middle-60{
  height: 60px;
}
.tr{
  display: table;
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  font-size: 17px;
  color: #333;
  &:last-child{
    border-bottom-width:0px;
  }
}
.td{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tr{
  display: relative;
  &.first{
    .ranking{opacity: 1;}
  }
  .ranking{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 60px;
  }
  .icon{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 60px;
    img{
      width: 45px;
      height: 45px;
      background-size: 45px 45px;
      border-radius: 10px;
    }
    .crown{
      position: absolute;
      z-index: 2;
      width: 20px;
      height: 20px;
      right: 5px;
      bottom: 10px;
      display: inline-block;
    }
  }
  .name{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    div{
      width: 120px;
      height: 75px;
      line-height: 75px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
      padding-left: 8px;
    }
  }
  .progress_score{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 75px;
    line-height: 75px;
    width: 60px;
    padding:0px 10px;
  }
  .info{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    .info-name{
      margin-bottom: 5px;
      text-align: left;
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
    }
    .info-ranking{
      font-size: 13px;
      color: #666;
      text-align: left;
      width: 120px;
      white-space: pre;
    }
  }
}

// hide the rest ranking
.ranking-1{
  .ranking{
    opacity: 0;
    &:first-letter{font-size: 25px;}
  }
  img{
    border: 1px solid #ffbe04;
    border-radius: 13px;
  }
  .crown{
    background: url($imageUrl + 'golden.png') no-repeat center 0;
    background-size:100%;
  }
  color:#ffbe04;
  border-color:#ffbe04;
}

.ranking-2{
  .ranking{
      opacity: 0;
      &:first-letter{font-size: 25px;}
  }
  img{
    border: 1px solid #969696;
    border-radius: 13px;
  }
  .crown{
    background: url($imageUrl + 'silver.png') no-repeat center 0;
    background-size:100%;
  }
  color:#969696;
  border-color:#969696;
}

.ranking-3{
  .ranking{
      opacity: 0;
      &:first-letter{font-size: 25px;}
  }
  img{
    border: 1px solid #e5af81;
    border-radius: 13px;
  }
  .crown{
    background: url($imageUrl + 'copper.png') no-repeat center 0;
    background-size:100%;
  }
  color:#e5af81;
  border-color:#e5af81;
}

// header part
.th{
  position: relative;
  background-color: #f9f9f9;
  border-bottom-width:0px;
  &.rank-list-weekreport-head{
    height: 50px;
  }
  .iconfont-crown-static{
    width: 26px;
    height: 26px;
    background: url($imageUrl + 'crown.png') no-repeat center 0;
    background-size:100%;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 15px;
    margin-top: -16px;
  }
  .title{
    display: inline-block;
    width: 45%;
    margin-left: 50px;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hint{
    color:#666666;
    font-size: 12px;
    float: right;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    margin-right: 15px;
  }
}
