.doc-manage {
  background-color: #fff;
  width: 100%;
  .task-header-bar{
    border:none;
    margin-left:10px;
    line-height:40px;
    height:40px;
    border-bottom: solid 1px #c0c0c0;
    font-size: 16px;
  }
}
.version-detail-content {
  color: #333;
  .sub-title {
    padding: 10px 15px;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    .add-task-action {
      float: left;
      width: 69%;
      font-size: 18px;
      margin-top: 5px;
    }
    .task-actions {
      float: right;
      width:30%;
      margin: 0;
      .role-dropdown {
        float: none;
        width: auto;
        background: none;
        color: #ffa52d;
        border: 1px solid #ffa52d;
        text-align: center;
        padding: 5px;
        font-size: 14px;
        border-radius: 20px;
        display: block;
        cursor:pointer;
      }
    }
  }

  .no-doc {
    width: 120px;
    height: 160px;
    color: #666;
    margin: 36% auto 0;
    background: url($imageUrl + 'not-found.png') no-repeat center 0;
    background-size: 100%;
      .txt-center {
        padding-top: 140px;
        margin-top: -36%;
      }
  }
}

.pa-100 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.task-wrap {
  @extend .pa-100;
}
.mile-stone-dialog {
  .dialog-confirm-content,
  .dialog-confirm-main {
    @extend .pa-100;
    overflow: hidden;
  }

  div.dialog-confirm-foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #d9d9d9;
    padding: 0;

    .select-all {
      padding-left: 47px;
      background: url($imageUrl + 'icon_check.png') no-repeat 15px center;
      background-size: 20px;
      float: left;
      font-size: 16px;
      cursor: pointer;
    }
    .active {
      background-image: url($imageUrl + 'icon_checked.png')
    }
    button {
      border-radius: 0;
      color: #fff;
      border: 0;
      width: 27%;
      float: right;
      margin: 0;
      font-size: 15px;
    }
  }
}

.icon-check {
  cursor: pointer;
  @include anmi-em(38, 38, "icon_check.png", 0, 0);
  &.left{
      @include position-point(50%, false, false, 0);
  }
  &.right{
      @include position-point(50%, 0.5rem, false,false);
  }
  @include margin-point(-10px, false, false, false);
}
.icon-checked {
  cursor: pointer;
  @include anmi-em(38, 38, "icon_checked.png", 0, 0);
  &.left{
      @include position-point(50%, false, false, 0);
  }
  &.right{
      @include position-point(50%, 0.5rem, false, false);
  }
  @include margin-point(-10px, false, false, false);
}
.result-loading {
  @extend .pa-100;
  color: #666;
  top: -15%;
  background: url($imageUrl + 'doc-loading.gif') no-repeat center;
  background-size: 32%;

  .txt-center {
    position: absolute;
    width: 100%;
    top: 60%;
    padding-top:25px;
  }
}

.confirm-div {
  div.confirm-body {
    width: 60%;
    left: 50%;
    top: 50%;
    margin-left: -30%;
    margin-top: -32%;

    .dialog-confirm-content {
      width: auto;
    }
    .dialog-confirm-message {
      padding: 15px 20px 20px 20px;
      font-size: 16px;
      text-align: center;
    }

    .dialog-confirm-foot button {
      font-size: 16px;
    }
  }
}

.version-detail-content > ul {
  margin: 10px;
  background-color: #fff;
}

.version-detail-content > ul > li {
  line-height: 40px;
  min-height: 40px;
  border-bottom: 1px solid #F2F2F2;
  padding: 10px 15px 10px 90px;
}

.version-detail-content > ul > li > label {
  position: absolute;
  left: 0;
  width: 100px;
  text-align: right;
}

.version-detail-content li span,
.version-functions li {
  line-height: 1.8rem;
}

.version-detail-content li span {
  display: inline-block;
  word-break: break-all;
  margin-left: 10px;
}

.calendar {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}
.version-page-loading {
  position: relative;
}

.version-page-loading:before {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 25px;
  height: 26px;
  width: 26px;
  -webkit-animation: rotate 0.8s infinite linear;
  animation: rotate 0.8s infinite linear;
  border: 2px solid orange;
  border-right-color: transparent;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.versions-tabs {
  @include min-screen(768) {
    width: 90%;
  }
  margin: 10px auto 0;
}

.project-version-list {
  .project-version-group {
    margin: auto;
  }
}
.milestone-edit {
  background: #fff;
  position: relative;
  height: 100%;
  .project-version-edit{
    height: 100%;
  }
  .submitBtn {
    width: 60%;
    margin: 0 auto;
    border-bottom: none;
    text-align: center;
  }
  .submitBtn button {
    width: 100%;
    background-color: #FFB331;
    color: white;
    height: 4rem;
    font-size: 14px;
    margin: 1rem 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: '黑体';
    &:active {
      border: 1px solid $activeColor;
    }
  }
  .role-dropdown {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    width: 35px;
  }
  ul{
    margin-left: 12px;
    .text-label,.date-label{
        border-bottom: 1px solid #d9d9d9;
    }
  }
  ul li {
    position: relative;
    &.form-date {
      margin-bottom: 0;
      padding-right: 0;
    }
    &.border-textarea{
      padding-bottom: 10px;
      padding-right: 10px;
    }
    &.border-bottom0{
      border-bottom: 0;
    }

    @extend %clearfix;
    .control-label {
      position: absolute;
      text-align: right;
      line-height: 47px;
      height: 47px;
      font-size: 16px;
      color: #666;

      .asterisk {
        color: #fc494d;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
    .control-input {
      width: 100%;
      display: table;
      padding: 10px;
      padding-left: 90px;
      box-sizing: border-box;
      cursor: pointer;
      >input,.input-label {
        box-sizing: border-box;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 26px;
        padding: 0 12px;
        color: #333;
        border: 0;
        font-size: 16px;
        background-color: #fff;
        &[data-custom=readonly] {
          color: $contentFontColor;
          border: 0;
          background-color: white;
        }
        .label-font{
          float: right;
          cursor: pointer;
        }
      }
      .input-label{
        text-align: right;
        color: #ffa42d;
        padding-right: 5px;
        &:active{
          color: #fdaa40;
        }
      }
      .num-show {
        padding: 5px 0;
        text-align: right;
        color: #666;

        strong {
          font-weight: normal;

          &.warn {
            color: #fc5d5a;
          }
        }

      }
      .input-addon {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
        text-align: left;
      }
      .control-num {
        display: table-cell;
        width: 35px;
        font-size: 12px;
        color: #9C9898;
        text-align: center;
      }
      .control-right {
        border-radius: 4px;
        border-right: 1px solid #FFC770;
      }
    }
    &.tasks-list{
      padding: 0;
      border-bottom: 1px solid #d9d9d9;
    }
    .task-list{
      padding: 0;
      margin: 0;
      ul {
        padding: 0;
        margin-top: 0;
        li {
          border-bottom: 1px solid #d9d9d9;
          padding: 16px 35px 16px 23px;
          margin: 0;
          &:last-child{
            border-bottom: 0;
          }
        }
      }
    }
    &.date-label .control-input {
      @include min-screen(768) {
        width: 250px;
      }
    }
  }
  .text-border{
    padding-right: 0;
    padding-left: 10px;
  }
  .input-tip{
    color: #666;
    font-size: 12px;
    text-align: right;
    height: 26px;
    line-height: 26px;
  }
  .milestone-tip{
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  .page-confirm{
    margin: 0 14px;
    background: transparent;
    .btn-sure{
      display: block;
      color: #fff;
      font-size: 18px;
      background-color: #FFA52D;
      border-radius: 20px;
    }
  }
}
.version-detail{
  background:white;
  ul{
    width: 100%;
    color: #333333;
    font-size: 16px;
    li{
      margin-left: 10px;
      border-bottom: 1px solid #c0c0c0;
      clear: both;
      display: inline-block;
      width: 98%;
        .intro{
          background:#f3f3f3;
          border-radius: 3px;
          color:#333333;
          margin-bottom:18px;
          padding:5px 3px;
          width:96%;
          height: 110px;
          }
        .base{
          height: 40px;
          line-height:40px;
          display: inline-block;
          text-align:left;
        }
        .title{
          @extend .base;
          color:#666666;
          width:6em;
        }
        .content{
          @extend .base;
          color:#333333;
          padding: 0px 10px;
          white-space: nowrap;
          overflow:hidden;
          text-overflow: ellipsis;
          width:60%;
        }
        &.intro{
          border-bottom: none;
        }
      }
  }

  .page-confirm .confirm-title {
    padding: 10px 10px 6px;
  }
  .page-confirm .confirm-footer {
    padding: 6px 0;
  }

  .confirm-content {
    width: auto;
    position: relative;
    text-align: left;

    li {
      margin-left: 0;
      border-bottom: 0;
      margin-top: 5px;

      .required {
        top: -6px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 130px;
      }

      .input-tip {
        position: absolute;
        top: -27px;
        right: 0;
        font-size: 13px;
      }
    }
  }
}

.buttonArea{
  text-align: center;
  width: 100%;
  padding-bottom: .1em;
  font-size: 17px;
  position: absolute;
  background-color: $white;
  bottom: 0;
  .btn{
    display: inline-block;
    width: 35%;
    height: 34px;
    line-height: 34px;
    border-radius: 34px;
    margin: .2em .8em;
    cursor:pointer;
    text-align: center;
    &:active,&:hover{
      background-color:#fb8c09;
      border-color:#fb8c09;
      color:$white;
    }
  }
  .edit{
    border:1px solid #ffa42d ;
    color: #ffa42d;
  }
  .delete{
    border:1px solid #c4c4c4 ;
  }
}
.version-title-icon{
}
