.header-bar {
  .title {
    display: inline-block;
    @include ellipsis(65%);
  }
  input {
    margin-left: 8rem;
    width: 55%;
    padding: 1rem 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #e8e8e8;
  }
}

.project-version-edit ul.project-version-footer {
  background-color: $bodyColor;
  .submitBtn.btn-inline {
    width: 100%;
    overflow: hidden;
    button {
      float: left;
      width: 40%;
      height: 3.5rem;
      margin: 30px 5%;
      &.delBtn {
        background-color: #fff;
        color: #FFB331;
        border: 1px solid #FFB331;
      }
    }
    button:disabled {
      background-color: #DCDCDC;
    }
  }
}

.add-btn {
  text-align: center;
  position: absolute;
  right: 1rem;
  top: 0rem;
}
