/*_versions.scss*/
.project-version-list {
  height: 100%;
  .header-bar .title {
    .counter {
      font-size: 1rem;
      color: #D5D5D5;
      font-weight: bold;
    }
  }
  .task-apply-c {
    // width: 90%;
    @include min-screen(768) {
      width: 90%;
    }
    margin: 10px auto 0;
    .btn-task-apply {
      background: #fff;
      box-sizing: border-box;
      width: 100%;
      color: $contentFontColor;
    }
  }
  .project-version-content {
    @include min-screen(768) {
      width: 90%;
      margin: 0 auto;
    }
    .split-line {
      margin: 1rem 1rem 0;
      padding-bottom: .5rem;
      height: 22px;
      border-bottom: solid 1px #DCDCDC;
      & > .title {
        float: left;
      }
      @include min-screen(768) {
        margin: 1rem .5rem 0;
      }
    }
    &.overflow-y {
      height: 90%;
    }
  }
}
