body{
	background: black;
	opacity: .8;
	font-size: 23px;
	color: #ccc;
 	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header{
	padding: 5rem 4rem;
	text-align: center;
}

.page-header .btn {
	border: 2px solid grey;
	padding: 1rem 1rem;
	border-radius: 5%;
	-webkit-transition: .5s;
}
.btn:hover {
	color: pink;
	border-radius: 25%;
}
a {
	text-decoration: none;
	color: white;
}

.site-footer {
	margin: 0px auto;
	text-align: center;
}
.li{
	animation: strench 10s,blink .5s 10;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes strench {
	from {
		width: 0px;
	}

	to {
		width: 300px;
	}
}
@keyframes blink {
	from {
		border-right-color: black;
	}

	to {
		border-right: 1px solid white;
	}
}

li.done {
	text-decoration: line-through;
}