@import "./base.css";

#app {
  width: min(1180px, 100% - 1.8rem);
  margin: 0 auto;
  padding: 1rem 0 2.4rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  #app {
    width: min(1180px, 100% - 1rem);
    padding-top: 0.8rem;
  }
}
